h1 {color: red;
    font-size: xx-large;
    font-style:italic;
}
p {color: cadetblue;
    font-size: x-large;
    font-style: normal;
    text-align: center;
}
img {
    box-shadow: 6px 6px 12px rgba(red, green, blue, alpha);
}